[submodule "sandbox/vendor/SDL"]
	path = sandbox/vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "sandbox/vendor/spdlog"]
	path = sandbox/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "sandbox/vendor/glm"]
	path = sandbox/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "sandbox/vendor/stb"]
	path = sandbox/vendor/stb
	url = https://github.com/nothings/stb
[submodule "sandbox/vendor/entt"]
	path = sandbox/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "sandbox/vendor/json"]
	path = sandbox/vendor/json
	url = https://github.com/nlohmann/json
[submodule "Sandbox/vendor/box2d"]
	path = Sandbox/vendor/box2d
	url = https://github.com/erincatto/box2d.git
