[submodule "sandbox/vendor/SDL"]
	path = sandbox/vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "sandbox/vendor/SDL_image"]
	path = sandbox/vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "sandbox/vendor/spdlog"]
	path = sandbox/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "sandbox/vendor/glm"]
	path = sandbox/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "sandbox/vendor/stb"]
	path = sandbox/vendor/stb
	url = https://github.com/nothings/stb
